<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CalenderDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>65B356C41D76BEA4005B5131</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65B356D81D76BEA5005B5131</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65B356E31D76BEA5005B5131</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
